.vs/
360Pictures/360Pictures/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
360Pictures/360Pictures/obj/Debug/360Pictures.csproj.AssemblyReference.cache
360Pictures/360Pictures/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
360Pictures/360Pictures/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
360Pictures/360Pictures/360Pictures.csproj.user